/**
 * Import stylesheet partials
*/
@import "reset";
@import "branding";

/**
 * ZeroPoint starter styling
*/
body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-family-sans-serif);
  overflow: hidden;
  overflow-y: scroll;
}

a {
  color: var(--color-primary);
  text-decoration: none;

  &:visited {
    color: var(--color-primary-dark);
  }

  &:hover {
    color: var(--color-primary);
  }
}

#main {
  max-width: var(--container-width);
}

#navigation {
  position: relative;
  z-index: 1;
  display: flex;
  height: 70px;
  padding: 10px;
  line-height: 40px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 1);
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100vw;
  padding: 10px;
  background-color: rgba(0, 0, 0, 1);
}

hr {
  border-color: var(--color-light);
  margin: 20px 0;
}

img {
  height: auto;
}

.navigation-item,
.navigation-label,
button {
  padding: calc(var(--unit) / 2);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul {
  list-style: none;
}

label,
input,
textarea {
  width: 100%;
  display: block;
}

button {
  margin: 0;
}

label {
  padding: calc(var(--unit) / 2) 0;
}

#projects {
  & > * {
    width: 100vw;
  }

  #requiem {
    background: rgba(255,255,255,1)
  }
}